{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          ">= 5%",
          "not IE < 11"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "targets": {
            "browsers": [
              "last 2 versions",
              ">= 5%",
              "not IE < 11"
            ]
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "examples": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 versions",
              ">= 5%",
              "not IE < 11"
            ]
          }
        }],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "examples-prod": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 versions",
              ">= 5%",
              "not IE < 11"
            ]
          }
        }],
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "storybook": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 versions",
              ">= 5%",
              "not IE < 11"
            ]
          }
        }],
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 Chrome versions"
            ]
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "external-helpers"
      ]
    },
    "coverage": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 Chrome versions"
            ]
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "external-helpers",
        "istanbul"
      ]
    }
  }
}
