html, body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  width: 100%;
  color: #333;
}

:global .full {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.viewer {
  position: absolute;
  bottom: 0;
  left: 200px;
  right: 0;
  top: 0;
  background-color: #eee;
}

.sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  top: 0;
}

.sidebar-title {
  display: block;
  padding: 0.6em 1em;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-item {
  padding: 0;
}

.sidebar-link {
  display: block;
  padding: 0.6em 1em;
  transition: 0.2s ease-in-out all;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #eee;
}

.sidebar-active-link,
.sidebar-active-link:hover {
  background-color: #6dabe4;
  color: #fff;
}
