{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": false
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "extends": [
    "prettier/react",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-undef": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "react/prop-types": "off",
    "node/no-unsupported-features/node-builtins": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
