name: ci
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5.0.3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn run lint
      - name: Test
        run: yarn run test
      - name: Codecov
        uses: codecov/codecov-action@v5.5.2
      - name: Build
        run: yarn run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v7.0.0
        with:
          name: dist
          path: dist/**/*
  docs:

    name: Build docs
    runs-on: ubuntu-latest
    needs: ci
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5.0.3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Install Docs
        run: (cd docs && yarn install --frozen-lockfile)
      - name: Build docs
        run: yarn run docs:build
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          cname: resium.reearth.io
